@import "tailwindcss";

@plugin "daisyui" {
  themes:
    daily-news-light --default,
    daily-news-dark;
  logs: false;
}

@plugin "daisyui/theme" {
  name: "daily-news-light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(94% 0 0);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(15% 0 0);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(15% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(26.861% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(79.54% 0.103 205.9);
  --color-info-content: oklch(15.908% 0.02 205.9);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(18.026% 0.03 164.14);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(17.674% 0.027 79.94);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(15.732% 0.03 28.47);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.3rem;
  --size-field: 0.3rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "daily-news-dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(0% 0 0);
  --color-base-200: oklch(19% 0 0);
  --color-base-300: oklch(22% 0 0);
  --color-base-content: oklch(85% 0 0);
  --color-primary: oklch(85% 0 0);
  --color-primary-content: oklch(22% 0 0);
  --color-secondary: oklch(85% 0 0);
  --color-secondary-content: oklch(22% 0 0);
  --color-accent: oklch(35% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(35% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(48% 0.243 264.376);
  --color-info-content: oklch(89.04% 0.062 264.052);
  --color-success: oklch(87% 0.15 154.449);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(19.359% 0.042 109.769);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(12.559% 0.051 29.233);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.3rem;
  --size-field: 0.3rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}

@custom-variant light {
  &:where([data-theme="daily-news-light"], [data-theme="daily-news-light"] *) {
    @slot;
  }
}

@custom-variant dark {
  &:where([data-theme="daily-news-dark"], [data-theme="daily-news-dark"] *) {
    @slot;
  }
}

/* https://github.com/tailwindlabs/tailwindcss/discussions/18091 */
@utility hitslop {
  @apply relative cursor-pointer;

  &::before {
    @apply content-[''] absolute top-1/2 left-1/2 size-12 -translate-x-1/2 -translate-y-1/2;
  }
}

@utility container {
  @apply mx-auto w-full max-w-[1920px] px-4;
}

@utility icon {
  @apply inline-block size-6;
}
